@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

// New colors
$red: #ff5e79;
$orange1: #ff7161;
$orange2: #ff8844;
$yellow: #ff9c2b;
$black: #393737;


// Update Bulma's global variables
$family-sans-serif: 'Fredoka', sans-serif;
$primary: $orange1;
$link: $orange1;
$text: $black;
$body-background-color: #fafafa;
$box-radius: 12px;
$navbar-item-img-max-height: none;
$section-padding: 3rem 1em;
$section-padding-desktop: 3rem 1rem;

@import "../../node_modules/bulma/bulma.sass";

*{
  transition: all 0.2s ease;
}
html {
  scroll-behavior: smooth;
  scrollbar-color: $orange1 #ebebeb;
  scrollbar-width: thin;
}

html::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #ebebeb;
}

html::-webkit-scrollbar-thumb {
  background-color: $orange1;
  border-radius: 5px;
}
a:hover{
  color: $yellow;
}
.button.is-link:hover, .button.is-primary:hover, .button.is-primary.is-outlined:hover{
  color: $yellow;
  border: 1px solid $yellow;
  background-color: transparent;
}
.navbar{
    box-shadow: 0 0 5px;
    &.is-fixed-top{
        z-index: 1001;
    }
}
.leaflet-reunionou{
    height: 50vh;
}

@media screen and (min-width: 1024px){
    .leaflet-reunionou{
        height: 70vh;
    }
}