@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

// New colors
$red: #ff5e79;
$orange1: #ff7161;
$orange2: #ff8844;
$yellow: #ff9c2b;
$black: #393737;


// Update Bulma's global variables
$family-sans-serif: 'Fredoka', sans-serif;
$primary: $orange1;
$link: $red;
$text: $black;

$navbar-item-img-max-height: none;

@import "../../node_modules/bulma/bulma.sass";

.navbar{
    align-items: center;
    box-shadow: 0 0 5px;
}
.buttons:not(:last-child), .buttons:last-child, .buttons .button{
    margin-top: 0;
    margin-bottom: 0;
}
.button-form{
    margin: 1rem auto;
}